.item {
    height: 750px;
    margin: 1.5rem auto;
}

.item img {
    width: 100%;
    object-fit: contain;
    object-position: center;
    cursor: pointer;
}

.collection-name {
    font-size: 20px;
    justify-content: center;
}

.item-desc {
    font-size: 16px;
    color: #181818;
    text-align: justify;
    padding: 0 1.5rem;
}

.item-title {
    font-size: 18px;
    color: #181818;
    font-weight: 600;
    margin: .5rem 0;
    padding: 0 1.5rem;
}

.permalink {
    width: 125px;
    height: 35px;
    display: inline-flex;
    align-items: center;
    border-radius: 10px;
    justify-content: center;
    font-size: 16px;
    font-weight: 600;
    background-color: rgb(32, 129, 226);
    border: 1px solid rgb(32, 129, 226);
    color: rgb(255, 255, 255);
}

.permalink:hover {
    background-color: rgb(25, 100, 175);
}

a {
    text-decoration: none;
    padding: 0 1.5rem;
    margin: 0 auto;
    position: sticky;
    bottom: 1.5rem;
}

@media screen and (min-width: 1024px) {
    .item {
        width: 600px;
        height: 750px;
    }
  }
  
  @media screen and (max-width: 1023px) {
    .item {
        width: 600px;
        height: 750px;
    }
  }
  
  @media screen and (min-width: 768px) and (max-width: 979px) {
    .item {
      width: 400px;
      height: 750px;
    }
  }
  
  @media screen and (max-width: 767px) {
    .item {
        width: 400px;
    }
  }
  
  @media screen and (max-device-width: 480px) {
    .item {
        width: 280px;
    }
  }